target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Linux ###

.directory

### MacOs ###

.DS_Store
.AppleDouble
.LSOverride
.localized

### Data Bases ###

*.db

### Spring configuration files ###

application.properties